.new-question-box {
    color: var(--darkFont);
}

input[type=radio] {
    display: none;
}

label > span {
    display: inline-block;
    color: var(--dark);
    margin: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

input:checked + span {
    font-weight: bold;
    font-size: 1.3rem;
}

.radio-buttons {
    height: 80px;
}

.radio-buttons label {
    display: inline-block;
    height: auto;
}

#question {
    width: 80%;
    margin: 5px;
    box-shadow: 4px 4px 0px var(--dark);
    border-radius: 0;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}


